<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="34" configForSplit="" package="io.stashteam.games.tracker.stashapp" split="config.es">
    <application android:hasCode="false">
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>
